@using JonathanRobbins.xTendingxDB.CMS.Models.Navigation
@using Sitecore.Data.Items
@using Sitecore.Links
@using Sitecore.Mvc

@model IEnumerable<JonathanRobbins.xTendingxDB.CMS.Models.Navigation.NavigationItem>

<nav class="main-nav__navigation">
    <ul class="main-nav__list">
        @foreach (NavigationItem navItem in Model)
        {
            <li class="main-nav__list-item">
                <a href="@LinkManager.GetItemUrl(navItem.Item)" title="@navItem.Item.DisplayName" tooltip="@navItem.Item.DisplayName"
                   CssClass="main-nav__list-item-link 
                    @if (navItem.Active)
                    {
                        Html.Raw("active");
                    }"></a>
            </li>
        }
    </ul>
</nav>