@using JonathanRobbins.xTendingxDB.CMS.Models.Navigation
@using Sitecore.Links

@model IEnumerable<NavigationItem>

<nav class="main-nav" role="navigation">
    <ul class="main-nav__collection">
        @foreach (NavigationItem navItem in Model)
        {
            <li class="main-nav__item">
                <a href="@LinkManager.GetItemUrl(navItem.Item)" title="@navItem.Item.DisplayName" tooltip="@navItem.Item.DisplayName"
                   class="main-nav__link
                    @if (navItem.Active)
                    {
                        Html.Raw("active");
                    }">
                    <span class="main-nav__text">
                        @navItem.Item.DisplayName
                    </span>
                </a>
            </li>
        }
    </ul>
</nav>