// folder path variables
@core: './src/less/core';
@modules: './src/less/modules';

// import core framework
@import '@{core}/_breakpoints';
@import '@{core}/_grid';

// import reset

// import modules

body {
    background:red;
}