@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel


<div class="main-image">
    <div class="main-image__inner">
        @Html.Sitecore().Field("Image", Model.Item ?? Model.PageItem)
    </div>
</div>
