@using System.ComponentModel.DataAnnotations
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

<div class="page-title inner-container">
    <h1>
        @Html.Sitecore().Field("Title")
    </h1>
</div>