@using Sitecore.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Sitecore().Placeholder("Header")
<div class="standard-page">
    <div class="standard-page__content">
        @Html.Sitecore().Placeholder("Content")
    </div>
    <div class="standard-page__supporting">
        @Html.Sitecore().Placeholder("Supporting")
    </div>
</div>