<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="JonathanRobbins.xTendingxDB.CMS.xDB.Interfaces.Facets.IKeyInteractionsFacet, JonathanRobbins.xTendingxDB.CMS.xDB" 
                 implementation="JonathanRobbins.xTendingxDB.CMS.xDB.Facets.KeyInteractionsFacet, JonathanRobbins.xTendingxDB.CMS.xDB" />
        <element interface="JonathanRobbins.xTendingxDB.CMS.xDB.Interfaces.Elements.IBrochureDownload, JonathanRobbins.xTendingxDB.CMS.xDB" 
                 implementation="JonathanRobbins.xTendingxDB.CMS.xDB.Elements.BrochureDownload, JonathanRobbins.xTendingxDB.CMS.xDB" />
        <element interface="JonathanRobbins.xTendingxDB.CMS.xDB.Interfaces.Elements.IGalleryViewed, JonathanRobbins.xTendingxDB.CMS.xDB" 
                 implementation="JonathanRobbins.xTendingxDB.CMS.xDB.Elements.GalleryViewed, JonathanRobbins.xTendingxDB.CMS.xDB" />
        <element interface="JonathanRobbins.xTendingxDB.CMS.xDB.Interfaces.Elements.ISampleOrder, JonathanRobbins.xTendingxDB.CMS.xDB" 
                 implementation="JonathanRobbins.xTendingxDB.CMS.xDB.Elements.SampleOrder, JonathanRobbins.xTendingxDB.CMS.xDB" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="KeyInteractions" contract="JonathanRobbins.xTendingxDB.CMS.xDB.Interfaces.Facets.IKeyInteractionsFacet, JonathanRobbins.xTendingxDB.CMS.xDB" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>