<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mergeContacts>
        <processor patch:instead="*[@type='Sitecore.Analytics.Pipelines.MergeContacts.MergeContactFacets, Sitecore.Analytics']"
                   type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.MergeContacts.MergeContactFacets, JonathanRobbins.xTendingxDB.CMS.xDB" />
      </mergeContacts>
    </pipelines>
  </sitecore>
</configuration>