<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <sampleorders-query>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.GetSampleOrders, JonathanRobbins.xTendingxDB.CMS.xDB" />
          </sampleorders-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <sampleorders>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.ConstructSampleOrdersDataTable, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">sampleorders-query</param>
            </processor>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.PopulateSampleOrdersWithXdbData, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </sampleorders>
        </pipelines>
      </group>
    </pipelines>
    <experienceProfile>
      <resultTransformManager>
        <resultTransformProvider>
          <intelResultTransformers>
            <add viewName="sampleOrders" type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.SampleOrderResultTransformer, JonathanRobbins.xTendingxDB.CMS.xDB"/>
          </intelResultTransformers>
        </resultTransformProvider>
      </resultTransformManager>
    </experienceProfile>
  </sitecore>
</configuration>
