<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <sampleorders-query>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.GetSampleOrders, JonathanRobbins.xTendingxDB.CMS.xDB" />
          </sampleorders-query>
          <brochuredownloads-query>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.BrochureDownload.Processors.GetBrochureDownloads, JonathanRobbins.xTendingxDB.CMS.xDB" />
          </brochuredownloads-query>
          <galleryviewed-query>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.GalleryViewed.Processors.GetGalleriesViewed, JonathanRobbins.xTendingxDB.CMS.xDB" />
          </galleryviewed-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <sampleorders>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.ConstructSampleOrdersDataTable, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">sampleorders-query</param>
            </processor>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.PopulateSampleOrdersWithXdbData, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </sampleorders>
          <brochuredownloads>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.BrochureDownload.Processors.ConstructBrochureDownloadsDataTable, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">brochuredownloads-query</param>
            </processor>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.BrochureDownload.Processors.PopulateBrochureDownloadsWithXdbData, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </brochuredownloads>
          <galleryviewed>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.GalleryViewed.Processors.ConstructGalleriesViewedDataTable, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">galleryviewed-query</param>
            </processor>
            <processor type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.GalleryViewed.Processors.PopulateGalleriesViewedWithXdbData, JonathanRobbins.xTendingxDB.CMS.xDB" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
            <processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
          </galleryviewed>
        </pipelines>
      </group>
    </pipelines>
    <experienceProfile>
      <resultTransformManager>
        <resultTransformProvider>
          <intelResultTransformers>
            <add viewName="sampleOrders" type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.SampleOrder.Processors.SampleOrderResultTransformer, JonathanRobbins.xTendingxDB.CMS.xDB"/>
            <add viewName="brochureDownloads" type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.BrochureDownload.Processors.BrochureDownloadResultTransformer, JonathanRobbins.xTendingxDB.CMS.xDB"/>
            <add viewName="galleriesViewed" type="JonathanRobbins.xTendingxDB.CMS.xDB.Pipelines.Contact.GalleryViewed.Processors.GalleryViewedResultTransformer, JonathanRobbins.xTendingxDB.CMS.xDB"/>
          </intelResultTransformers>
        </resultTransformProvider>
      </resultTransformManager>
    </experienceProfile>
  </sitecore>
</configuration>
