@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics;
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    @Html.Sitecore().VisitorIdentification()
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    @Html.Sitecore().Rendering("{55716226-84B2-4E90-A312-828EBC2089FD}")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
